<nav class="top-nav">
  <div class="nav-left">
    <a routerLink="/admin">Admin</a>
    <a routerLink="">Public</a>
  </div>

  <div class="nav-right">
    <!-- If logged in, show logout -->
    <div *ngIf="isLoggedIn$ | async; else loginForm">
      <a (click)="logoutAdmin()">Logout</a>
    </div>

    <!-- Login form -->
    <ng-template #loginForm>
      <input
        [(ngModel)]="adminUsername"
        placeholder="Username"
        class="nav-input"
      />
      <input
        [(ngModel)]="adminPassword"
        placeholder="Password"
        type="password"
        class="nav-input"
      />
      <button (click)="loginAdmin()" class="nav-btn">Login</button>
    </ng-template>
  </div>
</nav>


<div class="form-creation-container">
  <h1>Create Form</h1>
  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div class="form-title">
      <label>Form Title</label>
      <input formControlName="title" placeholder="Form Title" />
      <div class="error" *ngIf="formGroup.get('title')?.touched && formGroup.get('title')?.invalid">
        Title is required
      </div>
    </div>

  <div class="fields-section" formArrayName="fields">
    <div class="fields-header"> 
      <h2>Fields</h2>
      <button type="button" (click)="addField()" class="create-btn">+</button>
    </div>
    <div class="field-card-list">
      <div *ngFor="let f of fields.controls; let i = index" [formGroupName]="i" class="field-card">
        <div class="field-header">
          <h3 class="field-nr">#{{ i + 1 }}</h3>
          <button type="button" (click)="removeField(i)" class="delete-btn">X</button>
        </div>

        <div class="row">
          <label>Label</label>
          <input class="field-label" formControlName="label" placeholder="Field Label" />
          <div class="error" *ngIf="f.get('label')?.touched && f.get('label')?.invalid">
            Label is required
          </div>
        </div>

        <div class="row">
          <label>Type</label>
          <select formControlName="type">
            <option value="">Select type</option>
            <option value="text">Text</option>
            <option value="number">Number</option>
            <option value="boolean">Yes/No</option>
            <option value="date">Date</option>
          </select>
          <div class="error" *ngIf="f.get('type')?.touched && f.get('type')?.invalid">
            Type is required
          </div>
        </div>

        <div class="row">
          <label>Required</label>
          <input type="checkbox" formControlName="isRequired" />
        </div>
      </div>
    </div>
  </div>

    <button type="submit">Create Form</button>
  </form>
</div>