.form-creation-container {
  max-width: 700px; 
  padding-left: 5px;
  padding-top: 0px;
  font-family: sans-serif; 
}

.form-title {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.form-title label {
  font-weight: 600;
  margin-bottom: 4px;
  font-size: x-large
}

.form-title input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-title input.ng-invalid.ng-touched {
  border-color: #e63946;
  background-color: #ffe5e5;
}

.error {
  color: #e63946;
  font-size: 0.9rem;
  margin-top: 4px;
}

.fields-section {
    background: #a0d5f9;
    border-radius: 10px;
    padding: 5px;
}

.fields-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fields-header h2 {
    margin: 0px
}

.create-btn {
  background: #4caf50;
  width: 40px;
  height: 30px;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin: 4px;
  font-size: x-large;
  line-height: 0;
}

.field-card-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field-header {
  display: flex;
  justify-content: space-between;
}

.field-card {
  border: 1px solid #dcdcdc;
  padding: 0px 0px 10px 10px;
  border-radius: 10px;
  background: #fafafa;
  text-align: left;
}

.field-nr {
  font-size: x-large;
  margin: 10px 0px 10px 0px
}

.delete-btn {
  background: #e74c3c;
  width: 40px;
  height: 30px;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin: 3px
}

.row {
  display: flex;
  gap: 0px;
  margin-bottom: 12px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.row label {
  font-weight: 600;
  margin-bottom: 4px;
}

.field-label {
  width: 35rem;
}

.row input.ng-invalid.ng-touched {
  border-color: #e63946;
  background-color: #ffe5e5;
}

.row select.ng-invalid.ng-touched {
  border-color: #e63946;
  background-color: #ffe5e5;
}